@charset "UTF-8";

.card-text {
	color: #198754;
}

.card-span {
	float: right;
}

.home-main-section {
	margin-top: 75px;
	min-height: 100%;
	padding: 106px 10em 10px 10em;
}

.col-12 {
	margin-bottom: 3em;
}
.card {
    border:none;
	margin-bottom: 2em;
}
.card-img-top {
	height: 18em;
	border: 1px solid transparent;
}
.bi-heart-fill::before {
    content: "\f415";
    float: right;
    margin-top: 4px;
    margin-right: 3px;
}
.size_limite {
   overflow: hidden;
   text-overflow: ellipsis;
   height: 24px;
   word-wrap: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

.getList {
	background-color: #fff;
	border-color: #198754;
	border: none;
	border-top: 1px solid;
	margin-top: 1em;
	padding-top: 0.4em;
	margin-bottom: 5em;
	width: 100%;
}
.slick-track {
    height: 100%;
}
#mainBanner {
    display: block;
    height: 500px;
    position: relative;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width: 768px) {
   .row h2 {
      display: none;
   }
}

.kakaoImg {
	width: 130px;
	height: -webkit-fill-available;
	cursor: pointer;
}
    .wrap .info {width: 286px;height: 165px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 20px 0 0 141px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 130px; height: -webkit-fill-available;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}