@charset "UTF-8";
.content, .content_modal {
    width: 100%;
    margin-top: 150px;
}
.item_list_area {
    width: 990px;
    min-height: 480px;
    margin: 0 auto;
    overflow: hidden;
}
.breadcrumbs {
    margin: 33px 0px 0px 0px;
}
ul {
    list-style: none;
}
.breadcrumbs li {
    float: left;
    padding-right: 5px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}
.breadcrumbs a {
    float: left;
    padding-right: 5px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.breadcrumbs:after {
    clear: both;
    content: "";
    display: block;
}
.main_area {
    height: 100%;
}
.main_area_center {
    width: 990px;
    margin: 0 auto;
}
.main_area_center .main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.my_profile_left {
    float: left;
    width: 230px;
    margin-top: 15px;
}
.my_profile_left .my_profile_info {
    padding: 0 10px;
}
.my_profile_left .my_profile_image {
    text-align: center;
    position: relative;
    margin: 0 45px;
}
.my_profile_left .my_profile_image img:first-child {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.my_profile_left .my_profile_nick {
    margin-top: 15px;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.my_profile_left .my_profile_pro_review {
    margin-top: 25px;
}
.item_list_area {
    width: 990px;
    min-height: 480px;
    margin: 0 auto;
    overflow: hidden;
}
.my_profile_nav {
    margin: 38px 0 100px;
}
.profile_right_main {
    float: right;
    margin-left: 0;
}
.cat_box {
    margin: 40px 0 20px;
}
.profile_right_main {
    float: right;
    margin-left: 0;
}
.my_profile_left {
    float: left;
    width: 230px;
    margin-top: 15px;
    position: absolute;
}
.profile_right_main {
    float: right;
    margin-left: 0;
    width: 770px;
}
a, address, article, aside, b, big, body, center, code, dd, details, div, dl, dt, footer, form, header, html, i, iframe, img, input, ins, label, li, mark, menu, nav, object, output, p, q, s, section, select, small, span, strong, sub, summary, table, tbody, td, textarea, th, thead, time, tr, u, ul, var, video {
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.mian_row.profile_main_row {
    margin: 0;
    float: left;
    width: 100%;
}
.mian_row {
    overflow: hidden;
    margin: 30px 0 0;
    min-height: 400px;
}
.profile_right_main .main_col_3 {
    width: 30.33%;
    margin-right: 7px;
    margin-left: 7px;
    min-height: auto;
}
.mian_row .main_col_3, .mian_row .main_col_4 {
    float: left;
    min-height: 327px;
    position: relative;
}
.mian_row .main_col_3 {
    width: 220px;
    margin-bottom: 20px;
}
.image_wrapper .image_outside .thumbnail_img, .image_wrapper .image_outside .thumbnail_state_img {
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    
}
.thumbnail_img {
	z-index: 2;
}
.cont .item_price {
    color: #000;
    font-size: 22px;
    padding-bottom: 18px;
}
.cont .item_title {
    color: #454c53;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;
    margin-top: 8px;
}
.profile_right_main .my_profile_item_menu {
    width: 100%;
}

.modifybutton {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
}
.deletebutton {
    position: absolute;
    border: none;
    right: -1px;
    background: none;
    padding: 0;
}
.modifyimg {
	width: 38px;
	z-index: 1;
}
.deleteimg {
	width: 38px;
	z-index: 1;
}
.input {
    width: 45%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #333333;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.modifybtn {
    width: 18%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #333333;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.modify {
	float: left;
	width: 100%
}
.modify label {
	width: 15%;
}
#m_address {
	display: none;
}
.ps {
	display: inline-block;
    height: 40px;
    vertical-align: middle;
}
.hi {
	display: none;
}
.filebox label {
    position: absolute;
    color: rgb(153, 153, 153);
    font-size: inherit;
    line-height: normal;
    vertical-align: bottom;
    cursor: pointer;
    padding: 0.5em 0.75em;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 0.25em;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 0;
}
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.rounded-circle {
    border-radius: 50%!important;
}
.imgChange {
	position: absolute;
	color: rgb(153, 153, 153);
	font-size: inherit;
	line-height: normal;
	vertical-align: bottom;
	background-color: rgb(253, 253, 253);
	cursor: pointer;
	padding: 0.5em 0.75em;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(226, 226, 226);
	border-image: initial;
	border-radius: 0.25em;
	margin-left: 160px;
    margin-top: -40px;
}
.thumbnail_state_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translate(0%,0%);
    z-index: 1;
}