<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: fragment-head"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>상품디테일</title>
<script   src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script   src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/message.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/Profile.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<style>
   .alert-secondary{
       float: right;
   }
</style>
</head>
<body>
	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<section class="content">
		<div class="main_area">
			<div class="left_main">
					<th:block th:each="list, i : ${roomlist}">
					<div class="left_main_header">
						<!-- room 반복 -->
						<div class="S-mcP">
							<div class="AjEzM ">
								<div class="user_img">
									<img th:src="@{/img/} + ${client.get(i.index).client_img }"
										th:onclick="|location.href='@{userpage(client_id=${client.get(i.index).client_id})}'|"
										style="cursor: pointer; border-radius: 30px; width: 35px; height: 35px;">
								</div>
								<div class="user_nickname">
									<div class="">
										<input type="hidden" th:id="'product_no'+${list.chat_product_no}" th:value="${list.chat_product_no }"> 
										<th:block th:if="${session.client.client_id} == ${list.chat_send_client_id}">
										<input  type="hidden" id="receive_id" th:value="${list.chat_receive_client_id }">
										<div th:onclick="getChat([[${list.chat_product_no}]],[[${list.chat_receive_client_id}]])">
											<div style="cursor: pointer;" th:text="${client.get(i.index).client_nickname }"></div>
										</div>
										</th:block>
										<th:block  th:if="${session.client.client_id} != ${list.chat_send_client_id}">
										<input type="hidden" id="receive_id" th:value="${list.chat_send_client_id }">
										<div th:onclick="getChat([[${list.chat_product_no}]],[[${list.chat_send_client_id}]])">
											<div style="cursor: pointer;" th:text="${client.get(i.index).client_nickname }"></div>
										</div>
										</th:block>
									</div>
								</div>
								<div class="product_name" th:text="${product.get(i.index).product_name}"></div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		<div class="right_main">
			<div id="message">
				<div class="chat_header" id="chat_header">
					<div class="image_box">
						<div class="image_table" ></div>
						<img th:src="@{/img/} + ${client.get(0).client_img }" id="user_img"
										style="cursor: pointer; border-radius: 30px; width: 50px; height: 50px;">
					</div>
					<div class="profile-of-article" id= "userNickName"></div>
				</div>
				<div id="msgArea" class="chat_description"></div>
			</div>
			<div id="footer_input" class="chat_footer">
				<div class="input-group mb-3" id="aas"></div>
			</div>
		</div>
		<input type="hidden" id="send_id" th:value="${session.client.client_id }">
		</div>	
	</section>
	<div th:replace="/fragments/footer.html :: fragment-footer"></div>
	<script type="text/javascript" th:src="@{/js/chat.js}"></script>
</body>
</html>
